@font-face {
	font-family: Pixel ;
	src: url('font/Pixel\ Times.ttf') 
		
}

body{
    background-color: rgb(0, 0, 0);
}

hr{
    border-color: white;
    opacity: 0.6;
    margin: 32px 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color:white;
}

.photo1{
    margin-top: 5%;
    margin-left: 35.5%;
    margin-bottom: 5%;
    width: 30%;
}

.nav-link{
    color: white;
}

.gif01{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0 32px;
}

.ggf{
    
    width: min(800px, 90%);
}

.text01{
    width: 800px;
    border: 1px solid black;
    margin: auto;
    
}

.firestyle{
    width: 80px;
    height: 150px;
    margin-left: 90%;
}

.poisonstyle{
    width: 80px;
    height: 150px;
    margin-bottom: 2%;
}

.dimondstyle{
    width: 80px;
    height: 150px;
    margin-left: 90%;
}

h3{
    font-family: Pixel;
    color: white;
    margin: 24px 0 16px;

}

h4{
    font-family: Pixel;
    color: white;

}

.colortext01{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    line-height: 1.7;
    margin-bottom: 24px;
}

.colortext02{
    font-family: Pixel;
    color: white;
}

.text02{
    text-align: left;
    width: min(720px, 90%);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    margin: 0 auto 48px;
    padding: 32px 36px;
    background: rgba(255, 255, 255, 0.02);
}

.colortext01_01{
    font-size: 100%;
    font-family: Pixel;
    color: black;
}

.ttcolor{
    color: white;
}


.footerhrs{
    border: 2px solid white;
}


.end{
    text-align: center;
    font-family: Pixel;
    color: white;
}

.cta-wrapper{
    display: flex;
    justify-content: center;
    margin: 16px 0 32px;
}

.cta-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 32px;
    border-radius: 999px;
    border: 2px solid white;
    color: black;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 10px 24px rgba(255, 255, 255, 0.12);
}

.cta-button:hover{
    transform: translateY(-2px);
    box-shadow: 0 14px 30px rgba(255, 255, 255, 0.2);
    color: black;
}

@media screen and (max-width: 1200px) {

    .colortext01{
        font-size: 24px;
    }
    h3{
        font-size: 50px;
        font-family: Pixel;
        color: white;
    
    }
    .colortext01_01{
        font-family: Pixel;
        font-size: 30px;
        color: black;
    }
    .colortext02{
        font-size: 30px;
        font-family: Pixel;
        color: rgb(255, 255, 255);
    }
    
    .text02{
        text-align: left;
        width: min(720px, 92%);
        padding: 32px;
    }
}

@media screen and (max-width: 480px) {

    .colortext01{
        font-size: 20px;
    }
    h3{
        font-size: 50px;
        font-family: Pixel;
        color: white;
    
    }
    .colortext01_01{
        font-family: Pixel;
        font-size: 30px;
        color: black;
    }
    .colortext02{
        font-size: 30px;
        font-family: Pixel;
        color: rgb(255, 255, 255);
    }
    
    .text02{
        text-align: left;
        width: min(720px, 94%);
        padding: 24px;
    }

    .cta-button{
        width: 90%;
        font-size: 18px;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {

    .colortext01{
        font-size: 18px;
    }
    h3{
        font-size: 50px;
        font-family: Pixel;
        color: white;
    
    }
    .colortext01_01{
        font-family: Pixel;
        font-size: 30px;
        color: black;
    }
    .colortext02{
        font-size: 30px;
        font-family: Pixel;
        color: rgb(255, 255, 255);
    }
    
    .text02{
        text-align: left;
        width: min(720px, 96%);
        padding: 20px;
    }
}
