@font-face {
	font-family: Pixel ;
	src: url('font/Pixel\ Times.ttf') 
		
}

body{
    background-color: rgb(0, 0, 0);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color:white;
}

.photo1{
    margin-top: 5%;
    margin-left: 35.5%;
    margin-bottom: 5%;
    width: 30%;
}

.nav-link{
    color: white;
}

.gif01{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ggf{
    
    width: 800px;
}

.text01{
    width: 800px;
    border: 1px solid black;
    margin: auto;
    
}

.firestyle{
    width: 80px;
    height: 150px;
    margin-left: 90%;
}

.poisonstyle{
    width: 80px;
    height: 150px;
    margin-bottom: 2%;
}

.dimondstyle{
    width: 80px;
    height: 150px;
    margin-left: 90%;
}

h3{
    font-family: Pixel;
    color: white;

}

h4{
    font-family: Pixel;
    color: white;

}

.colortext01{
    font-size: 15px;
    color: white;
}

.colortext02{
    font-family: Pixel;
    color: white;
}

.text02{
    text-align: left;
    width: 40%;
    border: 1px solid black;
    margin: auto;
    
}

.colortext01_01{
    font-size: 100%;
    font-family: Pixel;
    color: black;
}

.ttcolor{
    color: white;
}


.footerhrs{
    border: 2px solid white;
}


.end{
    text-align: center;
    font-family: Pixel;
    color: white;
}

.colortext021{
    text-decoration:none;
    
}
.colortext022{
    font-size: 33px;
    font-family: Pixel;
    color: white;
}

@media screen and (max-width: 1200px) {

    .colortext01{
        font-size: 40px;
    }
    h3{
        font-size: 50px;
        font-family: Pixel;
        color: white;
    
    }
    .colortext01_01{
        font-family: Pixel;
        font-size: 30px;
        color: black;
    }
    .colortext02{
        font-size: 30px;
        font-family: Pixel;
        color: rgb(255, 255, 255);
    }
    
    .text02{
        text-align: left;
        width: 60%;
        border: 1px solid black;
        margin: auto;
        
    }
}

@media screen and (max-width: 480px) {

    .colortext01{
        font-size: 40px;
    }
    h3{
        font-size: 50px;
        font-family: Pixel;
        color: white;
    
    }
    .colortext01_01{
        font-family: Pixel;
        font-size: 30px;
        color: black;
    }
    .colortext02{
        font-size: 30px;
        font-family: Pixel;
        color: rgb(255, 255, 255);
    }
    
    .text02{
        text-align: left;
        width: 60%;
        border: 1px solid black;
        margin: auto;
        
    }
}

@media screen and (max-width: 320px) {

    .colortext01{
        font-size: 40px;
    }
    h3{
        font-size: 50px;
        font-family: Pixel;
        color: white;
    
    }
    .colortext01_01{
        font-family: Pixel;
        font-size: 30px;
        color: black;
    }
    .colortext02{
        font-size: 30px;
        font-family: Pixel;
        color: rgb(255, 255, 255);
    }
    
    .text02{
        text-align: left;
        width: 60%;
        border: 1px solid black;
        margin: auto;
        
    }
}

